<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>CookBook</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cyborg/bootstrap.min.css}" rel="stylesheet" integrity="sha384-HOjmaybB3GQTM8HunY46MvK7ngm9b/eRGOWESCQ/s+Vk4omobTY5+FXqurpSFcbz" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/breakfast">Breakfast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/lunch">Lunch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/dinner">Dinner</a>
            </li> <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/dessert">Desserts</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<body>
<div id="fullRecipeList" class="container">

</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <form class="todo-form">
        <input type="text" id="txtRecipeName" placeholder="Enter Recipe Name"/>
        <input type="text" id="txtIngredients" placeholder="Enter Ingredients"/>
        <input type="text" id="txtDirections" placeholder="Enter Directions "/>
        <input type="text" id="txtCategory" placeholder="Enter Breakfast, Lunch or Dinner"/>

        <button id="btnSubmit" class="btn btn-info">Submit</button>
    </form>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 40rem;">
    <div class="card-header">Ingredients</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-success mb-2" style="max-width: 40rem;">
    <div class="card-header">Directions</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
</body>
</html>